.custom-select {
    position: relative;
    width: 150px;
    cursor: pointer;
  }
  
  .selected-item {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 4px;
  }
  
  .options {
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: none;
    margin-top: 0;
    z-index: 1;
    width: 100%;
  }
  
  .custom-select:hover .options {
    display: block;
  }
  
  .option-item {
    padding: 10px;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .option-item:hover {
    background-color: #555;
  }
  
  .option-icon {
    margin-right: 10px;
    width: 16px;
    height: 16px;
  }